.btn {
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  border: 0;
}

.btn h4 {
  margin: 0;
}

.btn h5 {
  margin: 0;
}

.btn-regular {
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 20px;
}

.btn-large {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}

.btn-light {
  background-color: var(--color-tertiary);
  color: var(--color-text-dark);
}

.btn-dark {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}
