:root {
  /* Colores */
  --color-primary: #92140c;
  --color-secondary: #111d4a;
  --color-tertiary: #ffcf99;
  --color-text-dark: #1e1e24;
  --color-text-light: #fff8f0;
  --color-background-light: #fff8f0;
  --color-success: #4c9f4f;
  --color-danger: #92140c;

  /* Tipografía */
  --font-primary: 'Cardo', serif;
  --font-secondary: 'Josefin Sans', sans-serif;
}
